<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Web</title>

    <link rel="stylesheet" href="assets/styles/style.css" />

    <!-- Font Awesome 5.15.4 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="jumbotron">
        <h1>Welcome to My Personal Website</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#biodata">Biodata</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="content">
        <article id="portfolio" class="card">
          <div class="title"><h2>Portfolio</h2></div>
          <h3>Build an comperhensive web parenting using React</h3>
          <img
            src="assets/image/cover.jpeg"
            class="featured-image"
            alt="portfolio"
          />
          <img
            src="assets/image/index.png"
            class="featured-image"
            alt="portfolio"
          />
          <p>
            <strong>Description : </strong>
           <p>
            Has successfully developed a comprehensive parenting website that allows parents to monitor and track their children's development from an early age. Leveraging APIs and utilizing the World Health Organization's Child Growth Standards dataset, the website provides a wealth of resources for parents to ensure their children are meeting important developmental milestones. The projects has Accosiated with Independent Study at Diocoding in React Web Development program.
           <p>
            For Parents whos nees to monitoring their child this is some other way to worth to try with the web application that made spesific for parenting thing.
           </p>
           <p>
            <i class="fab fa-github"></i><a href="https://github.com/Hanabihyug/smartcare">  Github link</a>
           </p>
           <p>
            <i class="Website"></i><a href="https://smartcare-three.vercel.app/">  Website</a>
           </p>
          </p>
        </article>

        <article id="biodata" class="card">
            <div class="title"><h2>Biodata</h2></div>
            <div class="row">
              <div class="col">
                <img src="assets/image/me.jpeg">
                <h4>I Dewa Agung Adwitya Prawangsa</h4>
                <p>" An Undergraduated Computer Science for Three Years Learning "</p>
                <p>" Denpasar,Bali, Indonesia."</p>
            </div>
        </article>

        <article id="contact" class="card">
          <div class="title"><h2>Contact Me</h2></div>
          <div class="title2">
            <h1>wawaca.waca@gmail.com</h1>
            <h1>+62 812 360 755 89</h1>
        </article>
      </div>

      <aside>
        <article class="profile card">
          <header>
            <h2>About Me</h2>
            <figure>
              <img src="assets/image/me.jpg" alt="" />
              <p>Hi there! My name is I Dewa Agung Adwitya Prawangsa. I am a Front End Web Devloper. I have interest in React Devloping Software and Cloud Computing.</p>
            </figure>
          </header>

          <section>
            <div class="socmed">
              <ul>
                <li><a href="https://www.linkedin.com/in/i-dewa-agung-adwitya-prawangsa-910a751b8/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/Hanabihyug"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </section>
        </article>
      </aside>
    </main>

    <footer>
      <p>Personal Website &#169; 2023 - I Dewa Agung Adwitya Prawangsa</p>
    </footer>
  </body>
</html>
